<div id="aplicativo">
	<h3 style="text-align: center;">
		Logic Gates with Neuronal Networs
	</h3>
	<form ng-submit="calcular(factor, iteraciones, operacion)" class="container">
	  <div class="form-row">
	    <div class="form-group col-md-5">
	      <label>Iteraciones</label>
	      <input type="number" class="form-control" ng-model="iteraciones" min="200000" required>
	    </div>
	    <div class="form-group col-md-3">
	      <label >Factor</label>
	      <input type="number" class="form-control" ng-model="factor" step="any" required>
	    </div>
	    <div class="form-group col-md-4">
	      <label >Operación</label>
	      <select required="true" class="form-control" ng-change="cambiar_op(operacion)" ng-model="operacion" ng-required="true">
	      	<option></option>
	        <option>XNOR</option>
	        <option>XOR</option>
	        <option>AND</option>
	      </select>
	    </div>

	  </div>
	  <div class="form-row">
	  	<div class="form-group col-md-2">
		  	<button type="submit" class="btn btn-info">Aprender N.N.</button>
	  	</div>
	  </div>
	  
	</form>

	<div ng-show="estimador">
		<h4 style="text-align: center;">
			Calculo estimado {{operacion_nombre}}
		</h4>
		<div class="container" >
			<form id=estimar ng-submit="estimar(val1, val2)">
			  <div class="form-row">
			    <div class="form-group col-md-4">
			      <label >Primer valor</label>
			      <input placeholder="Ingrese un número" type="number" class="form-control" ng-model="val1" min="0" max="1" required>
			    </div>
			    <div class="form-group col-md-4">
	    	 		<label >Segundo valor</label>
			     	<input placeholder="Ingrese un múmero" type="number" class="form-control" ng-model="val2" min="0" max="1" required>
			    </div>
	    	    <div class="form-group col-md-4">
			      <label >Aproximado</label>
			      <input class="form-control" ng-model="resultado_estimar" disabled>
			    </div>
			  </div>
			</form>
		  	<div class="form-group col-md-10">
			  	<button form="estimar" type="submit" class="btn btn-info">Estimar</button>
		  	</div>
		</div>
	</div>

	<p></p>
	<p></p>
	<div style="text-align: left;">
		<h4 style="text-align: center;">
			Resultados
		</h4>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Weights hidden layer</h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover table-bordered">
					<tbody>
						<tr ng-repeat="fila in resultado.W1">
							<td style="font-weight: bold;">h{{$index + 1}}</td>
							<td ng-repeat='valor in fila'>W{{$index}}:&nbsp; {{valor | number : 5}}</td>
						</tr>
					</tbody>
				</table>
			</div>			
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Weights output layer</h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover table-bordered">
					<tbody>
						<tr ng-repeat="fila in resultado.W2">
							<td style="width: 10px; font-weight: bold;">W{{$index}}</td>
							<td ng-repeat='valor in fila'>{{valor | number : 5}}</td>
						</tr>
					</tbody>
				</table>
			</div>			
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Output {{operacion_nombre}}</h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover table-bordered">
					<tbody>
						<tr ng-repeat="fila in resultado.w_out_layer">
							<td style="width: 10px; font-weight: bold;">Out{{$index}}</td>
							<td ng-repeat='valor in fila'>{{valor | number: 6}}</td>
						</tr>
					</tbody>
				</table>
			</div>			
		</div>

	</div>
</div>