<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-titlle" style="text-align: center;"> Procesamiento desde archivos JSON </h4>
	</div>
	<div class="panel-body">
		<ul class="nav nav-tabs">
			<li ui-sref-active="active" ui-sref="archivos.process"><a href="#">File Process</a></li>
			<li ui-sref-active="active" class="dropdown">
				<a class="dropdown-toggle" ui-sref-active="active" data-toggle="dropdown" href="#">Create Corpus
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li ui-sref-active-parent="active" ui-sref="archivos.createText"><a href="#">From Text</a></li>
					<li ui-sref-active-parent="active" ui-sref="archivos.createFiles"><a href="#">From File</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<ui-view></ui-view>
</div>