<div>
  <h3 style="text-align: center;">
    Parámetros de entrada
  </h3>

  <form ng-submit="generar(k, lambda)" class="container">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Número de tópicos (K)</label>
        <input title="Número de tópicos a extraer por cada corpus" type="number" class="form-control" ng-model="k" min="1" max="8" required>
      </div>

      <div class="form-group col-md-4">
        <label >Lambda</label>
        <input type="number" class="form-control" ng-model="lambda" disabled required>
      </div>

      <div class="form-group col-md-4">
        <label >Alpha</label>
        <input type="number" class="form-control" ng-model="alpha" disabled required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-8">
        <button type="submit" class="btn btn-primary">Generar</button>
        <button type="button" ng-click="cancelar()" class="btn btn">Cancelar</button>
      </div>
    </div>
  </form>

  <p></p>
  <p></p>
  <div style="text-align: left;">
   
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Seleccione dos corpus a procesar</h3>
      </div>
      <div class="panel-body">
        <table class="table table-hover table-bordered">
          <thead >
            <tr class="active">
              <th >ID</th>
              <th >Fecha</th>
              <th class="text-center">Seleccionar</th>
            </tr>
          </thead>
        
          <tbody>
            <tr ng-repeat="c in data | orderBy : ['fecha']">
              <th >corpus {{$index + 1}}</th>
              <td >{{c.fecha | date: 'dd-MM-yyyy' : 'UTC'}}</td>
              <td class="text-center">
                <input form="despacharForm" ng-disabled="disable" ng-checked="c.check" type="checkbox" ng-click="calculo(c)">
                <br>
              </td>
            </tr>
          </tbody>
        </table>


      </div>      
    </div>

  </div>