<style>
  .chip {
      display: inline-block;
      padding: 0 10px;
      height: 30px;
      font-size: 12px;
      line-height: 30px;
      border-radius: 25px;
      background-color: #f1f1f1;
  }
</style>
<div class="container">
  <div class="row">
    
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-4"><h3 class="panel-title">Gŕafico</h3></div>
            <div class="col-xs-8"><button ng-click="matrix()" class="btn pull-right">Matriz</button></div>
          </div>          
        </div>

        <div class="panel-body">
          <p style="color: black;">{{leyendaGrafico}}</p>
        </div>
        <div class="panel-body">
          <ui-view></ui-view>
        </div>
      </div>
    </div>    

    <div class="col-md-6"> 
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Tópicos del dia 1 <{{fechaDia1 | date: 'dd-MM-yyyy' : 'UTC'}}></h3>
          </div>
          <div class="panel-body">
            <table class="table table-condensed">
              <tbody>
                <tr ng-repeat="topico in topicos_1">
                  <td title="Grafico tópico {{$index+1}}" style="padding-top: 6px;padding-bottom: 6px;vertical-align : middle;"> <button style="padding-bottom: 4px;padding-top: 4px;" class="btn btn-primary" ng-click="obtenerColumna($index)">TP{{$index + 1}}</button> </td>
                  <td> <div ng-repeat="palabra in topico" class="chip">{{palabra}}</div> </td>
                </tr>
              </tbody>
            </table>
          </div>      
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Tópicos del dia 2 <{{fechaDia2 | date: 'dd-MM-yyyy' : 'UTC'}}></h3>
          </div>
          <div class="panel-body">
            <table class="table table-condensed">
              <tbody>
                <tr ng-repeat="topico in topicos_2">
                  <td title="Grafico tópico {{$index+1}}" style="padding-top: 6px;padding-bottom: 6px;vertical-align : middle;"> <button style="padding-bottom: 4px;padding-top: 4px;" class="btn btn-primary" ng-click="obtenerColumna($index)">TP{{$index + 1}}</button> </td>
                  <td> <div ng-repeat="palabra in topico" class="chip">{{palabra}}</div> </td>
                </tr>
              </tbody>
            </table>
          </div>      
        </div>   
    </div>
  </div>  
</div>